<div class='section container about'>
  <h2 class='about__title'>{{secondaryTitle}}</h2>
  <h4 class='about__subTitle'>{{secondarySubTitle}}</h4>
  <div class='about__textSection'>
    <p class='about__text'>
      {{bio}}
    </p>
    <p class='about__text'>
      {{bio2}}
    </p>
    <p class='about__text'>
      {{bio3}}
    </p>
  </div>

  <div class='skills'>
    <h3 class='skills__title'>{{usingSkills}}</h3>
    <ul class='skills__list skills__list-used'></ul>
    <h3 class='skills__title'>{{learningSkills}}</h3>
    <ul class='skills__list skills__list-new'></ul>
  </div>
</div>