<div class='footer-thumb'>
  <div class='container footer'>
    <div class='footer__topSection'>
      <a href='/?={{lang}}' class='logo footer__logo'>{{name}}</a>
      <nav>
        <ul class='footer__nav'>
          <li class='footer__navItem'>
            <a data-goto='about' class='footer__navLink' href='#'>{{about}}</a>
          </li>
          <li class='footer__navItem'>
            <a class='footer__navLink' href='/'>{{home}}</a>
          </li>
          <li class='footer__navItem'>
            <a
              class='footer__navLink'
              href='/gallery?lang={{lang}}'
            >{{portfolio}}</a>
          </li>
          <li class='footer__navItem footer__navItem-accent'>
            <a
              class='footer__navLink footer__navLink-tel'
              href='https://t.me/olegkukharyshyn'
            >{{callMe}}</a>
          </li>
        </ul>
      </nav>
      <div>
        <ul class='footer__socialThumb'>
          <li>
            <a href='#' class='footer__socialLink'>
              <svg class='footer__socialIcon'>
                <use href='../assets/sprite.svg#icon-github'></use>
              </svg>
            </a>
          </li>
          <li>
            <a href='#' class='footer__socialLink'>
              <svg class='footer__socialIcon'>
                <use href='../assets/sprite.svg#icon-instagram'></use>
              </svg>
            </a>
          </li>
          <li>
            <a href='#' class='footer__socialLink'>
              <svg class='footer__socialIcon'>
                <use href='../assets/sprite.svg#icon-linkedin'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class='footer__contacts' id='contacts'>
      <li>
        <a href='mailto:olehkukharishin@gmail.com' class='footer__contactLink'>
          <svg class='footer__socialIcon'>
            <use href='../assets/sprite.svg#icon-mail'></use>
          </svg>
          <span>olehkukharishin@gmail.com</span>
        </a>
      </li>
      <li>
        <a href='tel:+380638133714' class='footer__contactLink'>
          <svg class='footer__socialIcon'>
            <use href='../assets/sprite.svg#icon-phone'></use>
          </svg>
          <span>+380638133714</span>
        </a>
      </li>
      <li>
        <a
          href="https://www.google.com/maps/place/Кам'янець-Подільський,+Хмельницька+область/"
          class='footer__contactLink'
        >
          <svg class='footer__socialIcon'>
            <use href='../assets/sprite.svg#icon-location'></use>
          </svg>
          <span>{{city}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>