{{#each items}}
  <li
    class='gallery__listItem'
    id='{{@index}}'
    style='--item-index: {{@index}}'
  >
    <div class='card__content'>
      <div class='gallery__itemThumb'>
        <a target='_blank' href='{{link}}'>
          <h2 class='gallery__itemTitle'>{{title}}</h2>
        </a>

        <ul class='gallery__itemTechList'>
          {{#each tech}}
            <li class='gallery__itemTechItem'>
              <div
                class='gallery__itemTechItem gallery__itemTechItem-text'
                style='--tech-index: {{@index}}'
              >{{techName}}</div>
            </li>
          {{/each}}
        </ul>
        <a
          {{!-- href='?page=projectDetails-{{id}}&lang={{currentLang}}' --}}
          href='/portfolio/projectDetails-{{id}}_{{currentLang}}'
          class='gallery__showMore'
        >
          ...
        </a>
      </div>
      <img
        src='{{slides.[0].src}}'
        alt='{{slides.[0].alt}}'
        class='gallery__listImg'
      />

    </div>
  </li>
{{/each}}