<div class='header-thumb'>
  <div class='container header'>
    <a href='/?lang={{lang}}' class='logo'>{{name}}</a>
    <div class='menu__body'>
      <nav>
        <ul class='header__navigation'>
          <li class='header__navLink'>
            <a href='/'>{{home}} </a>
          </li>
          <li class='header__navLink'>
            <a data-goto='about' href='#'>{{about}} </a>
          </li>
          <li class='header__navLink'>
            <a href='/gallery?lang={{lang}}'>{{portfolio}} </a>
          </li>
          <li class='header__navLink'>
            <a data-goto='contacts' href='#'>{{contacts}} </a>
          </li>
          <li>
            <a
              href='https://t.me/olegkukharyshyn'
              class='header__navLink header__navLink-accent'
            >
              <span class='header__telText'>{{callMe}}</span>
            </a>
          </li>
          <li>
            <a
              href='?lang=en'
              class='header__navLang-button'
              id='lang-en'
            >en</a>
            <a
              href='?lang=uk'
              class='header__navLang-button'
              id='lang-uk'
            >ua</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class='icon-menu menu-icon' type='button'>
      <span class='icon-menu-line'></span>
    </button>
  </div>
</div>